<h1>Activity Manager</h1>
<h2>Offerted activities</h2>
<ul>
  {{#each offertedActivities}}
    <li>
      <div>Category: {{this.sector}}/{{this.subsector}}</div>
      <div>Description: {{this.description}}</div>
      <div>
        Tags:
        <ul>
        {{#each this.tags}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      <div>
        Timetable:
        <ul>
      {{#each this.timetable}}
          <li>{{this.day}} - {{this.timeSlot}}</li>
      {{/each}}
        </ul>
      </div>
      <div>Duration: {{this.duration}} hours</div>
      </ul>
    </li>
  {{/each}}
</ul>
<h2>Demanded activities</h2>
<ul>
  {{#each demandedActivities}}
    <li>
      <div>Category: {{this.sector}}/{{this.subsector}}</div>
      <div>Description: {{this.description}}</div>
      <div>
        Tags:
        <ul>
        {{#each this.tags}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      <div>
        Timetable:
        <ul>
      {{#each this.timetable}}
          <li>{{this.day}} - {{this.timeSlot}}</li>
      {{/each}}
        </ul>
      </div>
      <div>Duration: {{this.duration}} hours</div>
      </ul>
    </li>
  {{/each}}
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOffertedActivity">
  Offer new activity
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDemandedActivity">
  Demand new activity
</button>

<!-- Modal -->
<div class="modal fade" id="addOffertedActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Offer new activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        bla bla bla
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addDemandedActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Offer new activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        bla bla bla
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>