<h1>Activity Manager</h1>
<h2>Offerted activities</h2>
<ol>
  {{#each offertedActivities}}
    <li>
      <div>Category: {{this.sector}}/{{this.subsector}}</div>
      <div>Description: {{this.description}}</div>
      <div>
        Tags:
        <ol>
        {{#each this.tags}}
            <li>{{this}}</li>
        {{/each}}
        </ol>
      </div>
      <div>
        Timetable:
        <ol>
      {{#each this.timetable}}
          <li>{{this.day}} - {{this.timeSlot}}</li>
      {{/each}}
        </ol>
      </div>
      <div>Duration: {{this.duration}} hours</div>
      </ol>
    </li>
  {{/each}}
</ol>
<h2>Demanded activities</h2>
<ol>
  {{#each demandedActivities}}
    <li>
      <div>Category: {{this.sector}}/{{this.subsector}}</div>
      <div>Description: {{this.description}}</div>
      <div>
        Tags:
        <ol>
        {{#each this.tags}}
            <li>{{this}}</li>
        {{/each}}
        </ol>
      </div>
      <div>
        Timetable:
        <ol>
      {{#each this.timetable}}
          <li>{{this.day}} - {{this.timeSlot}}</li>
      {{/each}}
        </ol>
      </div>
      <div>Duration: {{this.duration}} hours</div>
      </ol>
    </li>
  {{/each}}
</ol>